<div class="thumbnail">
  <div class="thumbnail-image">
    <img class="card-img-top" src={{video.thumbnailImage}} alt={{video.thumbnailImage}} />
    <span class="video-duration">{{video.duration}}</span>
  </div>
  <div class="caption">
    <a href="#" class="card-title">{{video.title}}</a>
  </div>
</div>
